
* {
    box-sizing: border-box;
}

:root{
    --footerText:rgb(165, 161, 161);
    --backgroundColor:  rgb(7, 7, 7);

}

body {
    margin: 0;
    padding: 0;
    background: rgb(32, 31, 31);
}


/* side bar */
.sidenav {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    background-color: rgb(7, 7, 7);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 8rem;
}
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 35px;
    color: #fff;
    display: block;
    transition: 0.3s;
    text-transform: capitalize;
    
}
.sidenav a::hover {
    color: #f1f1f1;
}
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-right: 62.5rem;
    background-color: rgb(7, 7, 7);
}
.open {
    position: fixed;
    color: #fff;
    top: 1rem;
    left: 1rem;
    
    z-index: 10000;
    
}
/* side bar ends */



/* white box */
#box {    
    position: relative;
    background-color: #fff;
    width: 200vh;
    margin: 0 auto;
    padding-bottom: 10px;
} 




/* header starts */
.top{
    position: fixed;
    background-color: black;
    width: 100%;
    z-index: 10;
    
    margin: 0;
    padding: 0;
    height: 9.5rem;
    top: 0;
}


.logo{
    display: flex;
    flex-shrink: 0; /* Don't let the flex-container shrink us down. */
    width: 240px; /* Looks like this is a tad smaller on the actual website */
    height: 80px;
    /* position: absolute;
    height: 25rem;
    width: 100%;
    right: 18rem;
    top: -7.1em; */
    position: relative;
    top: 0.7rem;
    left: 4em;
}
.logo img {
    object-fit: cover; /* Let the browser crop our square image to be more rectangular */
    width: 100%;
    height: 100%;
}



.navigation ul li{
    position: relative;
    display:inline-flex;
    margin: 0;
    padding: 0 20px; 
    right: 1em; 
    top: 10px;

    color: #fff;
    font-size: 1.4em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    
    
}
.header-row i{
    position: relative;
    display: inline;
    margin: 0;
    padding: 0 15px;
    top: -1rem;
    left: 39rem;

    color: rgb(255, 255, 255);
    width: 100%;
    font-size: 1.8em;
    
    
}
.header-row .social{
    position: relative;
    bottom: 9rem;
    left: 26rem;
    
}

.access{
    position: relative;
    display: inline-block;
    margin: 0;
    bottom: 10.8rem;
    padding-left: 44rem;
    font-size: 1em;
    
}
#caret:hover{
    display: inline-block;
    transform: scale(-1);
}
li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    overflow: auto;
    white-space: nowrap;
}
li.dropdown {
    display: inline-block;
    
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #000;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown:hover .dropdown-content {
    display: block;
}   
#more{
    display:none;
    
}    

/* header ends */


/* main img starts */
.main-img img{
    position: relative;
    object-fit: cover;
    text-align: center;

    top: 0rem;
    min-width: 100%;
    max-width: 100%;
    max-height: 100%;
    opacity: 0.75;
    transition: opacity 0.2s ease-in-out;
    transition-property: opacity;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
    min-height: 100%;
}
.main-img h2{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    display: inline-block;
    text-align: center;
    top: 22rem;
    /* left: 30rem; */
    margin: 0 auto;
    width: 100%;
    color: #fff;
    font-size: 3.7em;
    box-shadow: 1px;
    font-style: italic;
    font-family:Arial, Helvetica, sans-serif;
    z-index: 1;
}
/* main img ends */


/* article section starts */
.stories h2{
    position: relative;
    font-size: 2.2em;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 3.5rem;
    top: 5rem;
}
hr{
    position: relative;
    border: 1px solid rgb(212, 209, 209);
    top: 5rem;
    width: 90%;
}

.blogs {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 9rem;
}

.item1, .item2, .item3,.item4,.item5,.item6,.item7,
.item8,.item9,.item10,.item11, .item12 {
    border: 1px solid rgb(207, 198, 198);
    padding-bottom: 0px;
    overflow-x: hidden;
    margin: 40px 0;

    /* position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    min-width: 100%;
    max-width: 100%;
    max-height: 100%;
    transition: opacity 0.2s ease-in-out 0s;
    object-fit: cover;
    min-height: 100%;
    opacity: 1;
    will-change: opacity, transform; */
}
.blogs h4{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
    font-size: 3.5em;
    padding-left: 1em;
}
.blogs h5{
    font-family:Arial, Helvetica, sans-serif;
    font-weight:900;
    color: rgb(124, 121, 121);
    font-size: 2.5em;
    padding-left: 1.5em;
}
.btn button{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    height: 8.5rem;
    width: 24rem;
    margin-bottom: 2rem;
}
button h4 {
    position: relative;
    text-align: center;
    bottom: 25px;
    right: 15px;
}
/* article section ends */

/* bottom-box */
.bottom-box{
    margin: 0 auto;
    width: 0;
    height: 100rem;
    background-color: #1A1A1A;
}
.bottom-box i{
    position: relative;
    top: 20rem;
    left: 23.5rem;
    font-size: 4.5em;
    color: #fff;
}
.left-line{
    position: relative;
    border: 1px solid rgb(231, 223, 223);
    top: 17.5rem;
    right: 9rem;
    width: 28rem;
    height: 2px;
}
.right-line{
    position: relative;
    border: 1px solid rgb(231, 223, 223);
    top: 16.6rem;
    left: 32rem;
    width: 28rem;
    height: 2px;
}
footer nav{
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 250px);
    grid-auto-flow: column;
    grid-auto-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    gap: 0em 3em;
    padding-top: 25rem;
    padding-left: 4rem;
    font-size: 2.5em;
}
footer nav a{
    position: relative;
    color: rgb(165, 161, 161);
    text-decoration: none;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 1.3em;
    white-space: nowrap;
    
}
.bottom-line{
    position: relative;
    border: 1px solid rgb(231, 223, 223);
    top: 8rem;
    right: 7rem;
    width: 65rem;
    height: 2px;
}


.social-icons{
    position: relative;
    display: inline-flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    bottom: 5rem;
}
.social-icons i{
    position: relative;
    padding:0 45px;
    left: 25rem;
    font-size: 4em;
    color: rgb(165, 161, 161);

}
.social-icons .fa-wifi{
    transform: rotate(50deg);
}
aside h4{
    position: relative;
    color: #fff;
    white-space: nowrap;
    font-size: 2.7em;
    top: 20rem;
    left: 2rem;
    color: rgb(165, 161, 161);
}


/* media queires */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
@media screen and (max-width: 700px){
    .social {
        display: none;
    }
    .access{
        bottom: 9em;
    }
}